{% extends "base.html" %}
{% block content %}


<form action='/parade/join' method="POST" >
    <div class="container ">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 mt-5">
            <h1>Please confirm your email</h1>
            <div class="row d-flex justify-content-center">
                <button type="button" class="btn btn-primary"><a href="/">Go back home</a></button>
            </div>
            
          </div>
         
        </div>

       
      </div>
   
</form>
{% endblock %}