<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <script> </script>
    <title>TEAM 21</title>
</head>
<body>
<div id="body-container">

    <header>
        <nav>
            <ul>
                <li>
                    <a class="header-home active" href="index2.html">Home</a>
                </li>
                <li>
                    <a class="header-history" href="history.html">History</a>
                </li>
                <li>
                    <a class="header-shamrock" href="index2.html">                        
                        <img src="https://www.pngfind.com/pngs/b/128-1282716_shamrocks-png.png">
                    </a>
                </li>
                <li>
                    <a class="header-quiz" href="quiz.html">Quiz</a>
                </li>
                <li>
                    <a class="header-parade" href="parade.html">Parade</a>
                </li>
            </ul>
        </nav>

        <div class="hero-image"></div>

    </header>



    <div id="main-content-container">
        <section id="main-content">
            <h1>Parade</h1>

            <p>
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            </p>
            <p>
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            </p>
            <p>
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            </p>
            <p>
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            </p>
            <p>
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            </p>
            <p>
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
            </p>
        </section>
    </div>


    <footer>
        <ul>
            <li>
                <a target="_blank" href="https://www.facebook.com">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com">
                    <i class="fab fa-instagram-square"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.twitter.com">
                    <i class="fab fa-twitter-square"></i>
                </a>
            </li>
        </ul>

        <p> Copyright (c) 2021 | Code Institute | Hackathon March | Team 21 </p>
    </footer>

</div>

</body>
</html>