<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script> </script>
    <title>TEAM 21</title>
</head>
<body>



{% extends "base.html" %}
{% block content %}
<div id="main-content-container">
    <section id="main-content">
        <h1>Parade</h1>

        <p>
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        </p>
        <p>
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        </p>
        <p>
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        </p>
        <p>
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        </p>
        <p>
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        </p>
        <p>
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        </p>
    </section>
</div>
{% endblock %}