
{% extends "base.html" %}
{% block content %}
<div class="hero-image"></div>
    
        </header>
<div class="main-content-container">
    <section class="main-content">
        <h1>Parade</h1>

        <p>
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        </p>
        <p>
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        </p>
        <p>
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        </p>
        <p>
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        </p>
        <p>
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        </p>
        <p>
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        akjhf jsdfjkhsdkfjh sdkjfh sdjkfh jkdshg jkdfhdg
        </p>
    </section>
</div>
{% endblock %}