{% extends "base.html" %}
{% block content %}


<h1>Parade</h1>



<form action='/parade/join' method="POST" >

   
    <div class="container mt-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
     
            {% for message in messages %}
         
            <div class="alert alert-danger" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          
        {% endif %}
        {% endwith %}
        <div class="row d-flex {{'justify-content-between' if not parade_exist else 'justify-content-center'}} ">
            {% if not parade_exist %}
            <div class="col-md-5">
                <p>Fill the form below to join the virtual parade:</p>

              <div class="mb-3">
                  <label for="id-name" class="form-label">Full Name</label>
                  <input name="name" type="text" class="form-control" id="id-name" placeholder="John Doe">
                </div>
              <div class="mb-3">
                  <label for="id-email" class="form-label">Email address</label>
                  <input name='email' type="email" class="form-control" id="id-email" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="id-country" class="form-label">Country</label>
                    <input name='country' type="text" class="form-control" id="id-country" placeholder="Your Country">
                  </div>
                <div class="mb-3">
                  <label for="id-message" class="form-label">Your Message</label>
                  <textarea
                  
                  name="message" 
                  class="form-control" 
                  id="id-message" 
                  rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Join Now</button>
            </div>

            {% endif %}
          
          <div class="col-md-5 d-flex align-items-center justify-content-center">
            <div class="d-flex flex-column align-items-center">
                <h3>Watch the parade</h3>
                <a class="btn btn-primary" href="/parade/watch">Watch</a>
            </div>
           
        </div>
         
        </div>

       
      </div>
   
</form>

<a class="btn btn-light btn-lg leave-btn" href="index.html" role="button">Leave Parade</a>


{% endblock %}