{% extends "base.html" %}
{% block content %}

<div id="main-content-container">
    <section id="main-content">
        <h1>Quizzes</h1>

        <form>
        {% for quiz in quizzes%}
            <div>
                
                <p>{{loop.index}}. {{ quiz['question']}}</p>

            
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="question{{loop.index}}" id="id-a-{{loop.index}}" value="a">
                    <label class="form-check-label" for="id-a-{{loop.index}}">{{quiz['options']['a']}}</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="question{{loop.index}}" id="id-b-{{loop.index}}" value="b">
                    <label class="form-check-label" for="id-a-{{loop.index}}">{{quiz['options']['b']}}</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="question{{loop.index}}" id="id-c-{{loop.index}}" value="c" >
                    <label class="form-check-label" for="id-a-{{loop.index}}">{{quiz['options']['c']}}</label>
                  </div>
            </div>
        {% endfor %}
    </form>
    </section>
</div>
{% endblock %}